/* You can add global styles to this file, and also import other style files */
header{    background-color: #4baa42;    padding: 10px;}
.logo{
	
	background-image: url("assets/pressganeys.png");
    background-repeat: no-repeat;
	background-size: 100%;
    height: 63px;
    float: left;
    width: 224px
}
.title{ float: left; color:#fff; margin:4px 2px 3px 120px}
.clearb{clear:both;}
.logo_title{
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
    padding-left: 767px;    
}
.select{
    margin-left: 528px;
    font-family: "Benton Sans Low-DPI",Arial,Helvetica,sans-serif;
}
